<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>261311431727-uh4krg91n15qt4htt4f33h7m9m1eql0r.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.261311431727-uh4krg91n15qt4htt4f33h7m9m1eql0r</string>
	<key>API_KEY</key>
	<string>AIzaSyDjKhjpSvyZ1aiy07WU_Tw-aXBaFvbnHmA</string>
	<key>GCM_SENDER_ID</key>
	<string>261311431727</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.cvxtech.ActionBook</string>
	<key>PROJECT_ID</key>
	<string>action-book-760fb</string>
	<key>STORAGE_BUCKET</key>
	<string>action-book-760fb.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:261311431727:ios:5e255ea737852e166272da</string>
	<key>DATABASE_URL</key>
	<string>https://action-book-760fb.firebaseio.com</string>
</dict>
</plist>